<form action="/book/search" method="get">
<fieldset>
	<legend>Search inside the book</legend>
	<ul>
		<li>
			<span class="search_help">
				<strong>Search functionality:</strong> A + (plus) sign in front of a keyword makes it
				<em>required</em> in the search result. A - (minus) sign in front a keyword makes it
				<em>prohibited</em> from the search result. Phrases can be formed with quotation marks (e.g
				"keyword1 keyword2"). To increase the importance of a particular keyword, use the ^ sign after
				the keyword (e.g keyword^2). This boosts the relevance of all resulting pages containing the
				keyword.<br><br>
				
				<strong>Example:</strong> +hands -together "thumb over" practice^3
			</span>
		</li>
		
		<li>
			<label for="keywords">Keywords:</label>
			<input class="wide" type="text" name="keywords" value="<?php if (isset($this->keywords)) echo $this->escape($this->keywords); ?>">
			<input class="button" type="submit" value="Search">
		</li>
		
		<li>
			<label for="option">Search in:</label>
			<select name="option">
				<option value="title" selected="selected">Title only</option>
				<option value="section">Section only</option>
				<option value="both">Both</option>
			</select>
		</li>
	</ul>
</fieldset>
</form>
