<div id="sidebar">
	<h3>Subsections</h3>
	<ul>
		<li><a href="#contact">Contact</a></li>
		<li><a href="#about">About the Author</a></li>
		<li><a href="#donate">Donation</a></li>
		<li><a href="#cookies">Cookies</a></li>
	</ul>
</div>

<div id="adRight">
	<script type="text/javascript"><!--
	google_ad_client = "pub-0769473843117498";
	/* 160x600, Broad Skyscraper */
	google_ad_slot = "3011585916";
	google_ad_width = 160;
	google_ad_height = 600;
	//-->
	</script>
	<script type="text/javascript"
	src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
	</script>
</div>

<div id="content">
	<h1>Information</h1>
	
	<a name="contact"></a><h2>Contact</h2>
	<p>If you have any questions or suggestions regarding the book, please send a mail to <strong><script type="text/javascript" src="/js/email/chuan.js"></script></strong>.</p>
	<p>If you have any questions or suggestions regarding this web site, please send a mail to the <strong><script type="text/javascript" src="/js/email/webmaster.js"></script></strong>.</p>
	
	<a name="about"></a><h2>About the Author</h2>
	<p>I was born in Taiwan in 1938, grew up in Japan (1945-1958), started piano lessons in 1949, and moved to the U.S. in 1958; received a BS degree in Physics from RPI in Troy, NY, PhD in Physics from Cornell Univ. in 1967, and worked in analytical research until 1998, mostly at Bell Labs. The writing of this book originated in an incident in 1978 when I took one of our two daughters to her piano lesson with Mlle. Yvonne Combe. Little did I know that it would change my life, a once in a lifetime experience. After a few years of lessons, our daughters were progressing at unbelievable speed, which my wife and I attributed (mistakenly) to their exceptional musical talent. During this lesson, the teacher took out a frayed book with all the lesson pieces arranged according to difficulty, for choosing a new piece to study. Mlle. Combe said, "Choose whatever you want!!!", and my daughter looked all over the book for what she might like. I couldn't help interfering to ask "Shouldn't			she stay within her level of difficulty?" The teacher smiled knowingly with my daughter and answered "Difficulty isn't our problem, is it?" I was so impressed by the implications of what she said that I decided to investigate this teaching method. It took me about 15 years of further research, to realize that most teachers do not teach practice methods, and to understand the reasons why.</p>
	<p>I taught myself to tune the piano by reading books because, as a married student living on a research stipend and my wife's baby-sitting income, I did not have the money to pay a piano tuner to keep my piano always in tune. Since neither my wife nor I had perfect pitch, I must attribute our daughters' accurate perfect  pitch to the fact that our piano was in tune since their birth.</p>
	
	<a name="donate"></a><h2>Donation</h2>
	<p>If you feel that you have benefited from this book and would like to express your appreciation, please make a donation to the author <strong>Chuan C. Chang</strong> through <a href="http://www.paypal.com/">PayPal<img src="/img/external_link_icon.gif"></a>. Use the email address <strong>cc88m at aol.com</strong> (ommit the spaces and replace "at" with @.)</p>
	
	<a name="cookies"></a><h2>Cookies</h2>
	<p>A cookie is a small piece of data which is sent from a web server to a web browser and stored locally on the user's machine. Cookies have a variety of different functions, from remembering purchasing information to storing scores for online quizzes.</p>
	<p>This Web site utilizes cookies solely for the purpose of enhancing the browser experience and provide useful functions to the user (e.g changing the font size for various pages). You may set your browser so that your computer refuses cookies, although that may prevent you from utilizing certain features of our Web site.</p>
</div>