<div id="sidebar">
	<h3>Subsections</h3>
	<ul>
		<li><a href="#translations">Translations</a></li>
		<li><a href="#movies">Movies</a></li>
	</ul>
</div>

<div id="adRight">
	<script type="text/javascript"><!--
	google_ad_client = "pub-0769473843117498";
	/* 160x600, Broad Skyscraper */
	google_ad_slot = "3011585916";
	google_ad_width = 160;
	google_ad_height = 600;
	//-->
	</script>
	<script type="text/javascript"
	src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
	</script>
</div>

<div id="content">
	<h1>Resources</h1>
	
	<a name="#translations"></a><h2>Translations</h2>
	<ul>
		<li><a href="http://foppde.uteedgar-lins.de/index.html">German</a></li>
		<li><a href="http://pianoart.eu.interia.pl/">Polish</a></li>
		<li><a href="http://www.studiarepianoforte.it/">Italian</a></li>
		<li><a href="http://www.musico.fr.tc/">French</a></li>
		<li><a href="http://www.pianopractice.org/spanish.pdf">Spanish</a></li>
		<li><a href="http://bbs.popiano.org/viewthread.php?tid=81448&extra=page%3D3">Chinese (simplified)</a></li>
		<li><a href="http://www.pianogarden.tw/">Chinese (traditional)</a></li>
		<li><a href="http://pianofundamental.sakura.ne.jp/">Japanese</a></li>
	</ul>
	
	<a name="#movies"></a><h2>Movies</h2>
	<ul>
		<li>
			<a href="http://video.google.com/videoplay?docid=-5664619032618661031"><img src="/img/wmp_icon.gif" alt="[Movie File]"> Thumb Under / Thumb Over</a>
			<span class="linkdesc">Clip showing the author play two octaves using the TU and TO technique which is described in <a href="/book/en/1.III.5.1" title="Scales: Thumb Under, Thumb Over">section 1.III.5.1</a></span>
		</li>
	</ul>
</div>