<div id="sidebar">
	Quick search:
	<form action="/book/search/" method="get">
		<input type="hidden" name="option" value="title">
		<input class="narrow" name="keywords" type="text">
	</form>
	<br>
	Font size: <a href="#" onClick="resizeFont(true);"><img name="plus" src="/img/plus_icon.gif" width="18" height="12" alt="Upsize font"></a> <a href="#" onClick="resizeFont(false);"><img name="minus" src="/img/minus_icon.gif" width="18" height="12" alt="Downsize font"></a><br>
	Updated: <?php echo $this->updated; ?><br><br>
	<a href="#" onClick="drawSidebar(false);"><strong>Hide this panel</strong></a><br>
</div>

<div id="adRight">
	<script type="text/javascript"><!--
	google_ad_client = "pub-0769473843117498";
	/* 160x600, Broad Skyscraper */
	google_ad_slot = "3011585916";
	google_ad_width = 160;
	google_ad_height = 600;
	//-->
	</script>
	<script type="text/javascript"
	src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
	</script>
</div>

<div id="content">
	<h1><?php echo $this->sectionNumber; ?> <?php echo $this->sectionTitle; ?></h1>
	<?php echo $this->sectionBody; ?>
	<div id="bookNavigator">
		<?php if ($this->prev): ?><span id="prev"><a href="<?php echo $this->prev; ?>">Previous page</a></span>
			<?php else: ?><span id="prev">Previous page</span>
		<?php endif; ?>
		
		<?php if ($this->up): ?><span id="up"><a href="<?php echo $this->up; ?>">Up</a></span>
			<?php else: ?><span id="up">Up</span>
		<?php endif; ?>
		
		<?php if ($this->next): ?><span id="next"><a href="<?php echo $this->next; ?>">Next page</a></span>
			<?php else: ?><span id="next">Next page</span>
		<?php endif; ?>
	</div>
</div>
<script type="text/javascript" src="/js/conf.js"></script>